@model System.Collections.Generic.List<tblNotes>
@using FundooNotesData.Data.Models;
@using Newtonsoft.Json;


<sidenav></sidenav>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>


<link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">



<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>



<body ng-controller="notectrl">
    <div style="margin-left:300px">
       
        @*<input type="hidden" value="ReadArray" onload="readData()" />*@
        @if (Model != null)
        {
            if (@ViewBag.reminderdata != null)
            {
                <script type="text/javascript">

                    debugger;
                        var jScriptArray = new Array();
                        var array = @Html.Raw(Json.Encode(@ViewBag.reminderdata));
                    for (var i = 0; i < array.length; i++)
                    {
                            jScriptArray[i] = array[i];
                    }



                </script>
            }
       

            <div ui-sortable ng-cloak layout="row" flex-offset="10" layout-wrap layout-align-xs="center" layout-xs="row" layout-sm="row" layout-md="row" style="flex-wrap:wrap; ">

                @foreach (tblNotes obj in Model.Reverse<tblNotes>())
                {
                    if (obj.IsPin == 0 && obj.IsTrash == 0 && obj.IsArchive == 1)
                    {

                        <md-card ng-style="CustomNote" style="background-color:@obj.ColorCode; height:100%!important" class="division">
                            @*<div style="margin-top:10px;margin-left:10px">*@
                            <div layout="row" layout-wrap>
                                <div layout="row" layout-align="start center" flex>
                                    <span style="font-weight:bold">@obj.Title</span>
                                </div>
                                <div layout="row" class="icon" layout-align="end center" flex>
                                    <md-button ng-click="ispin(@JsonConvert.SerializeObject(obj))">
                                        <md-tooltip>Pin</md-tooltip>
                                        <md-icon md-svg-icon="~/Images/pin.svg"></md-icon>
                                    </md-button>
                                    @*<span class="label">Pin</span>*@
                                </div>
                            </div>
                            <div layout="row">
                                <span>@obj.Content</span>
                            </div>
                            <div>
                                @if (obj.ImageUrl != null)
                                {
                                    <img src="@obj.ImageUrl" style="width:100%;height:auto;" />

                                }
                            </div>


                            @if (obj.Reminder != null)
                            {
                                <md-chips md-removable="true" readonly="false">
                                    <md-chip>
                                        <md-chip-template>
                                            @obj.Reminder  <md-icon md-svg-icon="~/Images/cancel.svg" ng-click="remove(@JsonConvert.SerializeObject(obj))" style="opacity:0.5"></md-icon>
                                        </md-chip-template>
                                    </md-chip>
                                </md-chips>
                            }

                            <div layout="row" class="mainDiv">
                                <div layout="row">
                                    <md-menu class="icon">
                                        <button style="border:none;outline:none;background:transparent;margin-top:7px;margin-left:-4px" ng-click="$mdMenu.open()">
                                            <md-tooltip>Reminde Me</md-tooltip>
                                            <md-icon md-svg-icon="~/Images/Remainder.svg" style="height:17px;width:10px"></md-icon>
                                        </button>
                                        <md-menu-content width="3">
                                            <md-menu-item style="height:100%;">
                                                <h5>Reminder:</h5>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="remToday(@JsonConvert.SerializeObject(obj))">Later Today <span style="margin-left:30px;">8:00 PM</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="remTommorrow(@JsonConvert.SerializeObject(obj))">Tommorrow <span style="margin-left:30px;">8:00 AM</span></md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="remWeek(@JsonConvert.SerializeObject(obj))">Next Week<span style="margin-left:40px;">Mon  8:00 AM</span> </md-button>
                                            </md-menu-item>
                                            @*<md-menu-item>
                                                    <div class="form-group" style="  width:  248px;">
                                                        <div class='input-group date' name='datetimepicker1'>
                                                            <input type='text' class="form-control" style="width:  162px;" />
                                                            <span class="input-group-addon" style="width:  10px;">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </md-menu-item>*@


                                            <md-menu-item layout="column">

                                                <md-menu-bar>
                                                    <md-menu class="icon">
                                                        <md-button ng-click="$mdMenu.open()"><md-icon md-svg-icon="~/Images/Alarm.svg"></md-icon><strong>Pick Date & Time</strong></md-button>
                                                        <md-menu-content Width="2">
                                                            <md-menu-item layout="row">
                                                                <md-input-container md-no-float>
                                                                    @*<input type="text" id="date" ng-model="pick.date" value="" style="height:30px;border:none;width:150px;" placeholder="dd/mm/yyyy" />*@
                                                                    @*<md-datepicker name="date" ng-model="pick.date" required  ></md-datepicker>*@
                                                                    <input type="text" ng-model="date" data-format="MM/dd/yyyy HH:mm:ss PP" name="date" value="" placeholder="click to show datepicker" />

                                                                    @*<div class="form-group" style="  width:  248px;  overflow:visible">
                                                                            <div class='input-group date' name='datetimepicker1'>
                                                                                <input type='text' class="form-control" style="width:  162px;" />
                                                                                <span class="input-group-addon"  style="width:  10px;">
                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>*@


                                                                </md-input-container>
                                                            </md-menu-item>
                                                            @*<md-menu-item layout="row">
                                                                    <md-input-container md-no-float>
                                                                        <input type="text" ng-model="pick.time" style="height:30px;border:none;width:150px;" placeholder="hh:mm AMPM" />
                                                                    </md-input-container>
                                                                </md-menu-item>*@
                                                            <md-menu-item layout="row" layout-align="end">
                                                                <md-button ng-click="saveRem(@JsonConvert.SerializeObject(obj))">Save</md-button>
                                                            </md-menu-item>
                                                        </md-menu-content>
                                                    </md-menu>
                                                </md-menu-bar>


                                            </md-menu-item>
                                        </md-menu-content>

                                    </md-menu>
                                </div>
                                <div layout="row" style="margin-left:10px">
                                    <menu-bar>
                                        <md-menu>
                                            <div class="icon">
                                                <button ng-mouseenter="$mdMenu.open()" style="border:none; background:transparent;margin-bottom:10px;margin-top:8px;margin-left:-14px">
                                                    <md-tooltip>Color</md-tooltip>
                                                    <md-icon md-svg-icon="~/Images/Color.svg"></md-icon>
                                                </button>

                                            </div>

                                            <md-menu-content ng-mouseleave="$mdMenu.close()" style="height:60px;">
                                                <md-menu-item>
                                                    <div>
                                                        <div style="margin-bottom:5px">
                                                            <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb(255, 204, 204)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(255, 204, 204)">
                                                                <md-icon md-svg-src=""></md-icon>
                                                            </button>

                                                            <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb(255,240,245)')" style="border-radius:100%;outline:none;border:none ;background-color: rgb(255,240,245)">
                                                                <md-icon md-svg-src=""></md-icon>
                                                            </button>

                                                            <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb(230,230,250)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(230,230,250)">
                                                                <md-icon md-svg-src=""></md-icon>
                                                            </button>
                                                        </div>
                                                        <div>
                                                            <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb( 224,255,255)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(224,255,255)">
                                                                <md-icon md-svg-src=""></md-icon>
                                                            </button>

                                                            <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb(216,191,216)')" style="border-radius:100%;outline:none;border:none ;background-color: rgb(216,191,216)">
                                                                <md-icon md-svg-src=""></md-icon>
                                                            </button>

                                                            <button ng-click="color(@JsonConvert.SerializeObject(obj),'rgb(119,136,153)')" style="border-radius:100%;outline:none;border:none ;background-color:rgb(119,136,153)">
                                                                <md-icon md-svg-src=""></md-icon>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </menu-bar>
                                </div>
                                <div class="icon" layout="row">
                                    <button ng-click="addImage(@JsonConvert.SerializeObject(obj))" style="border:none; background:transparent;margin-bottom:10px">
                                        <md-tooltip>Add Image</md-tooltip>
                                        <md-icon md-svg-icon="~/Images/Image.svg"></md-icon>
                                    </button>

                                    <input style="display:none" type="file" id="imagefile" file-model="FileImage" />
                                </div>
                                <div class="icon" layout="row">
                                    <button ng-click="Archive(@JsonConvert.SerializeObject(obj))" style="border:none; background:transparent;margin-bottom:10px">
                                        <md-tooltip>Archive</md-tooltip>
                                        <md-icon md-svg-icon="~/Images/Archive.svg"></md-icon>
                                    </button>

                                </div>
                                <div layout="row">
                                    <md-menu-bar>
                                        <md-menu>
                                            <div class="icon">
                                                <button style="border:none;outline:none;background:transparent;margin-bottom:10px;margin-left:-24px" ng-click="$mdMenu.open()">
                                                    <md-tooltip>More</md-tooltip>
                                                    <md-icon md-svg-icon="~/Images/more.svg"></md-icon>
                                                </button>

                                            </div>
                                            <md-menu-content width="2">
                                                <md-menu-item>
                                                    <md-button ng-click="Delete(@JsonConvert.SerializeObject(obj))">
                                                        Delete
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button ng-click="CopyNote(@JsonConvert.SerializeObject(obj))">
                                                        Copy
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-menu-bar>
                                </div>


                            </div>

                        </md-card>


                    }

                }

            </div>


        }

    </div>
</body>




